@import '../../variables/colors';

.email-template-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;

  .email-template-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;

    &__action-buttons-group {
      .action-buttons {
        box-shadow: 1px 5px 5px 1px $box-shadow-grey;

        &:first-child {
          margin-right: 20px;
        }

        padding: 10px 20px;
        border: none;
        border-radius: 5px;
      }
    }

    &__alert {
      display: flex;
      align-items: center;
      padding: 5px 10px;
      border-radius: 5px;
      min-width: 400px;

      // TODO: Move all colors to variables file
      &--success {
        background: $background-green;
        border: 1px solid $border-green;
        border-top: 4px solid $light-green;
        color: $green;
      }

      &--error {
        background: $background-orange;
        border: 1px solid $border-orange;
        border-top: 4px solid $orange;
        color: $burgandy-red;
      }

      &--success, &--error {
        &.visible {
          visibility: visible;
          opacity: 1;
          transition: opacity 0.1s linear;
        }
  
        &.invisible {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s 2s, opacity 2s linear;
        }
      }
    }
  }

  .email-template-body {
    height: 100%;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-bottom: 20px;

    &__left-panel {
      margin-right: 20px;
    }

    &__right-panel {
      display: flex;
      flex-direction: column;
    }

    &__left-panel,
    &__right-panel {
      height: 100%;
      flex: 1;
    }
  }

  .email-template-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;

    &__action-buttons-group {
      .action-buttons {
        box-shadow: 1px 5px 5px 1px $box-shadow-grey;

        &:hover {
          cursor: pointer;
        }

        &:first-child {
          margin-right: 20px;
        }

        padding: 10px 20px;
        border: 1px solid #bbb;
        border-radius: 5px;
      }
    }
  }
}