$border-grey: #bbb;
$box-shadow-grey: lightgrey;
$white: white;

// Success Alert Component
$green: #165340;
$light-green: #25ba86;
$background-green: #d7f6ef;
$border-green: #b0c9c4;

// Error Alert Component
$burgandy-red: #85360F;
$orange: #fd7b26;
$background-orange: #ffe7da;
$border-orange: #d0bdb4;